body {
    background-color: #f8f9fa;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center; /* Centraliza o conteúdo horizontalmente */
    align-items: center; /* Centraliza o conteúdo verticalmente */
    height: 100vh;
    margin: 0;
    padding: 20px; /* Adicionando espaçamento interno */
}

.container {
    max-width: 400px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #0056b3; /* Azul da NASA */
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

label {
    color: #333;
    margin-bottom: 5px;
}

input[type="email"],
input[type="password"] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #0056b3;
    color: #fff;
    cursor: pointer;
    padding: 10px;
    border: none;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
}

input[type="submit"]:hover {
    background-color: #004080;
}

.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    display: flex;
    align-items: center; /* Centralizar verticalmente */
    justify-content: center; /* Centralizar horizontalmente */
}

.alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.alert-danger {
    color: #aa200d;
    background-color: #f0e6d8;
    border-color: #d6e9c6;
}

.text-center {
    text-align: center;
}
.container1 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
    
}

img {
    max-width: 175px;
    height: auto;
    max-height: 175px;
}